<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ENZ Book Club</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="homepage.component.css" />
    <!-- Custom stylesheet -->
   
  </head>
  <body>
    <section id="image-section">
      <div class="home-page-image">
        <div class="container">
          <div class="card-text">
            <div class="text-center">
              <h1 class="animate-charcter">ENZ BOOK CLUB</h1>
            </div>
            <h2 class="lead text-center pt-5 pb-3">
              Welcome to Online Book Review System
            </h2>

            <div class="loader text-center"></div>


            <p class="lead-pargraph text-center pt-3">
              "ENZ Book Club" is a digital platform dedicated to book
              enthusiasts, offering the opportunity for users to sign up and
              post their thoughts and opinions about various books
            </p>

            
            <div class="text-center my-3 mt-5 btn-section">
                <a class="btn btn-danger btn-lg" href="/adminlogin" role="button"
                  >Admin Login</a
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary btn-lg" href="/userlogin" role="button"
                  >User Login</a
                >
              </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer bg-black pb-2">
        <div class="container text-center">
          <span class="text-black">Copyright&copy;2023 Reserved by ENZ Book Club. </span>
        </div>
      </footer>  
  </body>
</html>
